:root {
  --image22: url("https://images.pexels.com/photos/1324803/pexels-photo-1324803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  --image: url("https://source.unsplash.com/kcvlb727mn8");
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--image); */
  background: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
}
.weather-today,
.weather-today-details,
.weather-card,
header,
footer {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.15); */
  padding: 5px;
  font-size: 18;
  padding-bottom: 10px;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
}
header > div {
  border-bottom: 2px solid white;
  color: white;
  padding: 5px;
}
input {
  background: none;
  border-style: none;
  color: white;
}
input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}
.weather-main,
.weather-grid {
  padding: 20px 80px;
}
.weather-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-today {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  height: 370px;
  min-width: 220px;
}
.city-name {
  font-size: 52px;
  margin-bottom: 10px;
}
.today-icon {
  margin: 10px 0;
  font-size: 72px;
}
.today-weather-text {
  font-size: 36px;
}
.today-temp {
  font-size: 52px;
}

.weather-today-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  height: 370px;
  border-radius: 20px;
  min-width: 220px;
}
.weather-today-details > div {
  display: grid;
  grid-template: auto auto/ 1fr 4fr;
  column-gap: 10px;
}
.detail-icon {
  font-size: 36px;
  justify-items: center;
  align-items: center;
  grid-row: 1 / 3;
  grid-column: 1;
}
.detail-text {
  font-size: 18px;
  grid-row: 1/2;
  grid-column-start: 2;
}
.detail-value {
  font-size: 20px;
  grid-row-start: 2;
  grid-column-start: 2;
}

.weather-grid {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
.card-day {
  font-size: 24px;
}
.card-weather-icon {
  font-size: 36px;
  margin: 10px 0;
}
.card-temp-max {
  font-size: 36px;
}
.card-temp-min {
  font-size: 14px;
}

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.footer-link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: white;
}

@media (max-width: 1375px) {
  * {
  }
  .weather-today,
  .weather-today-details,
  .weather-card,
  .weather-main,
  .weather-grid {
    padding: 20px;
  }
}
